.container {
  background: whitesmoke;
  display: flex;
  border: 1px solid;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin: 20px;
  width: 350px;
}

.title {
  width: 100%;
  text-align: center;
}

.maintext {
  width: 100%;
  text-align: center;

}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    justify-content: center;
  }

}