@media only screen and (max-width: 600px) {
    .hamburgerMenu {
        color: white;
        display: flex;
        justify-content: center;
    }
    .hamburgerMenu > ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .hamburgerMenu > ul> li {
        margin-top: 10px;
        font-size: 20px;
        list-style: none;
        border : 1px solid;
        width:80vw;
        padding:8px;
    }
}