.panels {
    display:flex;
    justify-content:center;
    margin-top: 50px;
}




@media only screen and (max-width: 600px) {
    .panels{
        flex-direction: column;
        justify-content:center;
        margin-top: 0px;
    }
}